<a href="/{{id}}">
    <article class="class" style="border-left: 10px solid {{color}}">
            <p class="class-title">
                {{id}}: {{name}}
            </p>
            <br/>
            <p class="class-content">
                {{description}}
            </p>
            <p class="class-rating" style="color: #777">
                Average rating: {{rating}}% from {{reviews.length}} review(s)
            </p>
    </article>
</a>